Nomencontest.CoreWrapper/Service References/Server/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Nomencontest.Base" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Nomencontest.Base.Models" />
  <xs:element name="RegisterAdministrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAdministratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterAdministratorResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterAdministrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q1:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterAdministratorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q2:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterPlayerResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q3:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterPlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMainGUI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q4:DataTransporter" />
        <xs:element minOccurs="0" name="adminGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMainGUIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterMainGUIResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterMainGUI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q5:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterMainGUIResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterObserver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q6:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterObserverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterObserverResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterObserver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q7:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterObserverResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q8:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="settings" nillable="true" type="q9:SetupTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="data" nillable="true" type="q10:DataTransporter" />
        <xs:element minOccurs="0" name="itemFile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearItemDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="data" nillable="true" type="q11:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="data" nillable="true" type="q12:DataTransporter" />
        <xs:element minOccurs="0" name="itemID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="data" nillable="true" type="q13:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShuffleCategoryItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="data" nillable="true" type="q14:DataTransporter" />
        <xs:element minOccurs="0" name="categoryID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableShuffle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="data" nillable="true" type="q15:DataTransporter" />
        <xs:element minOccurs="0" name="value" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q16:DataTransporter" />
        <xs:element minOccurs="0" name="playerID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetRound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q17:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowRoundCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q18:DataTransporter" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="categoryIDs" nillable="true" type="q19:ArrayOfunsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRoundCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q20:DataTransporter" />
        <xs:element minOccurs="0" name="categoryID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q21:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuessItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q22:DataTransporter" />
        <xs:element minOccurs="0" name="isCorrect" type="xs:boolean" />
        <xs:element minOccurs="0" name="playSound" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverridePlayerScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q23:DataTransporter" />
        <xs:element minOccurs="0" name="player1Score" type="xs:int" />
        <xs:element minOccurs="0" name="player2Score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlipRandomCharacter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndRound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q24:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextRound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q25:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalRoundToggleNameVisibility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q26:DataTransporter" />
        <xs:element minOccurs="0" name="showName" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalRoundPlayerGuesses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q27:DataTransporter" />
        <xs:element minOccurs="0" name="playerID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalRoundPlayerGuessesDirect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q28:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q29:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q30:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q31:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayMusic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q32:DataTransporter" />
        <xs:element minOccurs="0" name="playMusic" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clientData" nillable="true" type="q33:DataTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStatusUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="gameStatus" nillable="true" type="q34:GameStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSettingsUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="gameStatus" nillable="true" type="q35:SetupTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnItemsUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="gameStatus" nillable="true" type="q36:ItemDatabaseTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="gameStatus" nillable="true" type="q37:SetupTransporter" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="gameData" nillable="true" type="q38:GameStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnClockUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Nomencontest.Base" minOccurs="0" name="clockValue" nillable="true" type="q39:ClockTransporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlayMusic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playMusic" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAudioCue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Nomencontest.Base.Models" minOccurs="0" name="soundcue" type="q40:SoundCue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>